extends layout

block header
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-header
            a.navbar-brand(href='/') 清新，健康，專業 DPID-06

        browser-toolbar

block content
    div(ng-view).fill